<form #form="ngForm">
  <ul>
    <li>
      Verplicht via encapsulatie component 1<app-customfield
        [(data)]="f2"
        [required]="true"
      ></app-customfield>
      {{ f2 }}
    </li>
    <li>
      Verplicht via encapsulatie component 2<app-customfield
        [(data)]="f3"
        [required]="true"
      ></app-customfield>
      {{ f3 }}
    </li>
    <li>
      Verplicht rechtstreeks
      <input type="text" name="f1" [(ngModel)]="f1" [required]="true" />
      {{ f1 }}
    </li>
  </ul>
  <button [disabled]="form.invalid">Save</button>
  <p>
    Save zou disabled moeten zijn als beide niet ingevuld zijn maar de
    geëncapsuleerde control zijn invalid state geraakt niet tot bij het form.
    Probleem deels opgelost. De error validaties zijn nu met elkaar verbonden.
    Door dit toe te passen los ik het probleem op met de gedowngrade versie in angularjs.
  </p>
  <pre>
    viewProviders: [
    {{ '{' }}
      provide: ControlContainer,
      deps: [[Optional, NgForm]],
      useFactory: (ngForm: NgForm) => ngForm,

      {{ '}' }},
  ]</pre
  >

  <p>Heb hier naar gekeken</p>
  <ul>
    <li>
      <a href="https://stackblitz.com/edit/angular-4cbeix">
        https://stackblitz.com/edit/angular-4cbeix
      </a>
    </li>
    <li>
      <a href="https://angular.io/api/forms/ControlValueAccessor"
        >https://angular.io/api/forms/ControlValueAccessor</a
      >
    </li>
    <li>
      <a
        href="https://lukaonik.medium.com/adding-custom-validation-to-the-custom-form-control-in-angular-f4e9b13b4728"
      >
        https://lukaonik.medium.com/adding-custom-validation-to-the-custom-form-control-in-angular-f4e9b13b4728
      </a>
    </li>
    <li>
      <a
        href="//https://timdeschryver.dev/blog/a-practical-guide-to-angular-template-driven-forms#form-building-blocks
      "
        >https://timdeschryver.dev/blog/a-practical-guide-to-angular-template-driven-forms#form-building-blocks
      </a>
    </li>
    <li>
      <a
        href="https://medium.com/@a.yurich.zuev/angular-nested-template-driven-form-4a3de2042475"
      >
        https://medium.com/@a.yurich.zuev/angular-nested-template-driven-form-4a3de2042475
      </a>
    </li>
  </ul>
</form>
